h1{
    font-size: 30px;
    text-align: center;
    color: #6f096f
}

p{
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #a3bef5
}

h2{
    font-size: 25px;
    text-align: left;
    color:#de71d3
}